@{
    ViewBag.Title = "About";
    ViewBag.Message = "Be Positive. Life is beautiful...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a student at Univeristy of Canberra. I love to have fun and learn.</p>
