@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Send me an e-mail if you have any questions.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    U 62/8 Baudinette Cct.<br />
    Bruce, ACT 2617<br />
    <abbr title="Phone">P:</abbr>
    +614.351.30704
</address>

<address>
    <strong>Work:</strong>   <a href="mailto:kenneth.llanto@xero.com">kenneth.llanto@xero.com</a><br />
    <strong>Personal:</strong> <a href="mailto:kennllanto@gmail.com">kennllanto@google.com</a>
</address>